body {
    background-color: #676EA7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f3f4f6;
    margin-top: 90px;
}
h1 {
    font-size: 4vw;
}
h4{
    text-decoration: underline;
}
img.myphoto{
    border-radius: 300px;
    width: 10%;
    height: 10%;
    align-items: center;
    flex: 1;
    margin: 40px;
}
p.textR{
    margin-top: 4vw;
    font-size: 2vw;
}
.info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.infoF{
    text-align: center;
    flex: 1;
}

.box{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #43486b;
    border-radius: 40px;
}
.questions{
    text-align: justify;
    flex: 1;
    min-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    margin: 2em;
}
.references{
    flex: 1;
    text-align: justify;
    min-width: 300px;
    max-width: 100%;
    overflow-wrap: break-word;
    margin-left: 4em;
    margin-right: 4em;
}
.titleLab{
    margin-left: 60px;
    text-decoration: underline;
}

#operacion {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 1em;
}
