<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laboratorio 1</title>
  </head>
  <body>
    <h1>Kamila Martinez</h1>
    <h2>A01711833</h2>
    <h3>a01711833@tec.mx | kamiii.martineeez@gmail.com</h3>
    <br />

    <h2>Preguntas Laboratorio 1</h2>
    <table border="1">
      <tr>
        <th>Pregunta</th>
        <th>Respuesta</th>
      </tr>
      <tr>
        <td>¿Cuál es la diferencia entre Internet y la World Wide Web?</td>
        <td>Internet es una gran red de computadoras alrededor de todo el mundo conectadas entre sí. Por el contrario, la web (la World Wide Web) es una enorme colección de páginas que se asienta sobre esa red de computadoras. (Redacción, 2019)</td>
      </tr>
      <tr>
        <td>¿Cuáles son las partes de un URL?</td>
        <td>Una URL para HTTP (o HTTPS) suele estar formada por tres o cuatro componentes. Un esquema que identifica el protocolo, un nombre de host que identifica quien contiene el recurso, un camino que identifica la ruta que el usuario quiere acceder y una cadena de consulta. (CICS Transaction Server for Z/OS 6.x, 2025)</td>
      </tr>
    </table>
  </body>
</html>