<%- include('includes/_header') %>
<table>
    <thead>
        <tr>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <% for (let password of passwords) { %>
            <tr>
                <td><%= password %></td>
            </tr>
        <% } %>
    </tbody>
</table>

<%- include('includes/_footer') %>
