<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hola Mundo</title>
    </head>
    <body>
        <h1>Hola Mundo</h1>
        <h3>¿Qué otros templating engines existen para node?</h3>
        <p>
            Hay varios template engines populares disponibles para utilizar con Express. Algunos de los más conocidos son Pug (anteriormente conocido como Jade), EJS (Embedded JavaScript), Handlebars y Mustache, entre otros. Cada uno tiene su propia sintaxis y características, pero todos cumplen con el propósito fundamental de generar HTML dinámico.
        </p>
        <p>
            Referencia <br><br>
            https://www.facebook.com/grokkeepcoding. (2023, August 10). ¿Qué son los template engines? | KeepCoding Bootcamps. KeepCoding Bootcamps. https://keepcoding.io/blog/que-son-los-template-engines/#%C2%BFQue_son_los_template_engines

        </p>
    </body>
</html>